@import data.oauth2.AuthRecord
@(rows: Seq[AuthRecord])

    @main("Auth Records") {
        <table>
            <thead>
                <tr>
                    <th>Client ID</th>
                    <th>Token</th>
                    <th>Scope</th>
                    <th>GGID</th>
                    <th>Expires At</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @rows.map { row =>
                <tr>
                    <td>@row.clientId</td>
                    <td>@row.accessToken</td>
                    <td>@row.scope</td>
                    <td>@row.gatewayId</td>
                    <td>@row.expiresAtDateString</td>
                    <td><a href="@controllers.api.routes.UIController.expireToken(row.accessToken)">expire</a></td>
                </tr>
            }
            </tbody>
        </table>
    }